.form-card {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*min-width: 23rem;*/
}

.field-list-item {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
}

.field-input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    color: #495057;
}

.first-level-block, .second-level-block {
    border-radius: 5px;
    padding: 10px;
    border: 0.2px solid #ececec;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: .4rem;
    width: 100%;
}

.template-field {
    border: 1px solid #28a745;
    position: absolute;
    background: #2c844052;
    border-radius: 3px;
}

.workflowCard {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.hoverElement:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.settingPanel {
    padding: 1rem;
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}