################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/*/.vs/*
/src/*/bin/*
/src/*/obj/*
/test/FormCaptureLocalWasmTests/bin/*
/test/FormCaptureLocalWasmTests/obj/*
