body {
    background-color: black;
    color: white;
}

h1, h2 {
    color: white;
}

.custom-table, .custom-table td {
    border-color: white;
}

.ant-divider {
    border-color: white;
}

.custom-table .hoverable-row:hover {
    background-color: yellow;
    color: black;
}

.card {
    background: black;
    color: white;
    border: 1px solid white;
}

select {
    color: black;
}

.ant-radio-wrapper {
    color: white;
}

.main {
    border-width: 1px;
    border-left-style: solid;
    border-color: white;
}

.sidebar {
    background: black !important;
}

.nav-link:hover {
    background-color: yellow !important;
    color: black !important;
}

.ant-spin-dot-item {
    background-color: yellow;
}

.ant-btn-dangerous {
    background: transparent;
}

.ant-popover-message-title {
    color: white;
}

.ant-popover-inner {
    background-color: black;
    border: 1px solid white;
}

.ant-card {
    background: black;
}

.ant-card-head {
    color: white;
}

.ant-card-actions {
    background: black;
}

.ant-card-actions li {
    color: white;
}

.ant-card-actions li span:hover {
    color: yellow;
}

.ant-result-title {
    color: white;
}

.ant-result-subtitle {
    color: white;
}