@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

#app-loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 420px;
    height: 100%;
}

.index-main {
    flex: 1;
    background: linear-gradient(120deg, rgb(169, 89, 54) 0%, rgb(55 46 183) 100%);
    color: white;
}

    .index-main .content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

.font-color-white {
    color: white;
}

.card {
    border-radius: .3rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: white;
    color: #000;
}

.display-none {
    display: none;
}

a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-primary-color {
    color: #5C6BC0;
}

.primary-color-background {
    background-color: #5C6BC0;
    color: white;
}

.pointer {
    cursor: pointer;
}

#template-preview-image {
    max-width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#template-canvas {
    /*
        overflow: auto;
    position: relative;
    height: 50vh;
    */
    /*overflow: auto;*/
    position: relative;
}

.template-field {
    border: 1px solid #28a745;
    position: absolute;
    background: #2c844052;
    border-radius: 3px;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-responsive {
    overflow-x: auto;
}

.custom-table {
    width: 100%;
}

    .custom-table, .custom-table td {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .custom-table thead td {
        font-weight: bold;
    }

    .custom-table td {
        padding: 1rem 1.5rem;
    }

    .custom-table .hoverable-row:hover {
        background-color: #0000000a;
    }

select {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 2rem;
    padding-left: 0.4rem;
}

    select:hover {
        cursor: pointer;
    }

.radio {
    display: block;
    height: 2.2rem;
    border-radius: .3rem;
    font-weight: normal;
}

    .radio:hover {
        background-color: #0000000a;
    }

.w-100 {
    width: 100%;
}

.divider {
    color: rgba(0, 0, 0, 0.85);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}