@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
@inject LoadingService LoadingService
@layout MainLayout

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" id="main-app-body">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private string LocaleSettingMessageCssClass => LoadingService.IsFullPageLoadingScreenDisplayed ? "d-block" : "d-none";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            Console.WriteLine("App layout rendered.");
            var lastLoginDate = Convert.ToDateTime(await localStorage.GetItemAsStringAsync("LastLoginDate"));
        }
    }
}