@inject IStringLocalizer<App> Localizer

<div id="fullPageLoadingScreen" class="@FullPageLoadingScreenCssClass">
    <div class="d-flex justify-content-center main-loading-div">
        @Localizer["Loading"]...
        <div class="spinner-border mt-4" role="status">
            <span class="sr-only">@Localizer["Loading"]...</span>
        </div>
    </div>
</div>

@code
{
    /// <summary>
    /// Private field indicating if full page loading screen is displayed.
    /// </summary>
    [Parameter]
    public bool IsDisplayed { get; set; }

    /// <summary>
    /// Private filed for seting and geting value of a CSS class for displaying/hiding fullpage loading screen.
    /// </summary>
    private string FullPageLoadingScreenCssClass => IsDisplayed ? "d-block" : "d-none";
}