<button type="button" @onclick="() => OnClick.InvokeAsync(DestinationURI)" class="@Classes" title="@Title">
    @((MarkupString)Icon) @Content
</button>

@code
{
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string DestinationURI { get; set; }

    [Parameter]
    public string Classes { get; set; }
}