@layout MainLayout
@inject IJSRuntime IJSRuntime
@inject NavigationManager NavigationManager
@page "/formcapture/home"

<h3><span class="oi oi-home" aria-hidden="true"></span> Home</h3>

<p>Welcome to Formcapture home page. To start processing documents follow these steps or consult user documentation (github wiki or local wiki):</p>
<div>
    <p>1. Create a document template</p>
    <ul>
        <li>Upload template image</li>
        <li>Create fields</li>
        <li>Set identifying field</li>
        <li>Save template</li>
    </ul>
</div>