@layout AppLayout
@inject IJSRuntime IJSRuntime
@inject NavigationManager NavigationManager
@page "/formcapture/home"

<h3><span class="oi oi-home" aria-hidden="true"></span> Home</h3>

<p>Welcome to Formcapture home page. To start processing documents follow these steps or consult user documentation (github wiki or local wiki):</p>
<div id="basic-steps-block">
    <button type="button" class="btn btn-link first-level-block">1. Create a document template <span class="oi oi-chevron-right"></span></button>
    <div class="col-12">
        <button type="button" class="btn btn-link second-level-block">1.1 Upload template image <span class="oi oi-chevron-right"></span></button>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-link second-level-block">1.2 Create fields <span class="oi oi-chevron-right"></span></button>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-link second-level-block">1.3 Set identifying field <span class="oi oi-chevron-right"></span></button>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-link second-level-block">1.4 Save template <span class="oi oi-chevron-right"></span></button>
    </div>

    <button type="button" class="btn btn-link first-level-block mt-4">2. Start a queue <span class="oi oi-chevron-right"></span></button>
    <div class="col-12">
        <button type="button" class="btn btn-link second-level-block">2.1 Navigate to queue page <span class="oi oi-chevron-right"></span></button>
    </div>
</div>