@if (string.IsNullOrEmpty(Text))
{
    <span class="divider"></span>
}
else
{
    //mt-4 mb-4
    <div class="">
        <span class="divider"></span>@Text<span class="divider"></span>
    </div>
}

@code
{
    /// <summary>
    /// Optional text.
    /// </summary>
    [Parameter]
    public string? Text { get; set; }
}