<h2 class="@Class">
    <span class="oi oi-@Icon me-2" aria-hidden="true"></span> @Title
</h2>

@code
{
    /// <summary>
    /// Icon displayed next to the title.
    /// </summary>
    [Parameter]
    public string? Icon { get; set; }

    /// <summary>
    /// Title of the header.
    /// </summary>
    [Parameter]
    public string? Title { get; set; }

    /// <summary>
    /// CSS classes for h2 element.
    /// </summary>
    [Parameter]
    public string? Class { get; set; }
}