<button class="@Class" type="button" Loading="IsLoading" @onclick="OnClick">
    @if (!IsLoading)
    {
        <span class="oi oi-@Icon me-2"></span>
    }
    @Text
</button>

@code
{
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}