<!--https://codepen.io/Manoz/pen/kyWvQw-->
<div class="loading-symbol">
    <div class="indicator"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
</div>

@code
{
    /// <summary>
    /// Optional parameter for displaying text with the loading symbol.
    /// </summary>
    [Parameter]
    public string? Text { get; set; }
}