@layout AppLayout
@inject ILocalStorageService localStorage
@inject IStringLocalizer<App> Localizer
@page "/formcapture/settings"

<h1>
    <span class="oi oi-cog mt-1 me-2" aria-hidden="true"></span> @Localizer["Settings"]
</h1>

<Divider />