@inherits LayoutComponentBase
@layout MainLayout

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4 mt-4">
            @Body
        </div>
    </div>
</div>