@layout IndexLayout
@inject NavigationManager NavigationManager
@page "/"

<h1 class="mb-2">
    <img src="/formcapture-icon.svg" alt="Form Capture logo" draggable="false" class="mb-3 mr-1" id="index-page-app-logo" />
    <span>Form Capture</span>
</h1>

@code {

}
