body, .main .top-row, select, .form-card {
    background: #2d333b !important;
    color: white !important;
}

hr {
    background: white;
}

.form-card {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*min-width: 23rem;*/
}

table {
    color: white !important;
}

.first-level-block, .second-level-block {
    border-radius: 5px;
    padding: 10px;
    border: 0.2px solid #ececec;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: .4rem;
    width: 100%;
}

#basic-steps-block .btn-link {
    color: #007bff !important;
}

.table-hover tr:hover {
    color: white !important;
    background-color: rgb(0 0 0 / 20%) !important;
}