@layout IndexLayout
@inject IStringLocalizer<FormCaptureLocal.App> Localizer
@page "/formcapture/about"

<div class="p-4 mb-4 settingPanel" id="aboutContent">
    <h3>
        <span class="fluentUiGlyph tableFluentGlyph h3FluentGlyph mr-2">&#xEA84;</span> <strong>@Localizer["NavMenuAboutLinkText"] Form Capture</strong>
    </h3>
    <p class="lead">
        @Localizer["AppDescription"]
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Egestas integer eget aliquet nibh praesent tristique. Imperdiet nulla malesuada pellentesque elit eget. Auctor urna nunc id cursus metus aliquam eleifend. A diam sollicitudin tempor id. Imperdiet sed euismod nisi porta lorem. Congue eu consequat ac felis donec et odio.
    </p>
    <p>
        Aliquet sagittis id consectetur purus ut faucibus. Rhoncus urna neque viverra justo. Vestibulum sed arcu non odio. Nibh sit amet commodo nulla facilisi nullam vehicula. Fermentum posuere urna nec tincidunt praesent semper. Elit duis tristique sollicitudin nibh sit. Ac turpis egestas maecenas pharetra convallis posuere. Vel quam elementum pulvinar etiam non quam.
    </p>
    <p>
        Massa ultricies mi quis hendrerit dolor magna. Ullamcorper eget nulla facilisi etiam. Nisl pretium fusce id velit. Congue eu consequat ac felis donec et odio pellentesque diam. Ut eu sem integer vitae justo eget. Ultricies mi quis hendrerit dolor magna eget est lorem. Risus viverra adipiscing at in. Nunc vel risus commodo viverra.
    </p>
    <h4>Motivation</h4>
    <h4><span class="fluentUiGlyph tableFluentGlyph h4FluentGlyph mr-2">&#xE961;</span> User guide</h4>
    <h4><span class="oi oi-link-intact mr-2"></span> Links</h4>
</div>